html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body , #root {
  height: 100vh;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
header a:hover {
  color: rgb(48, 173, 43);
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem ;
}
/* products */
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.products li {
  flex: 1 1 19rem;
  /* height: 47rem; */
  padding: 1rem;
  margin: 1rem;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 8px black;
  padding: 5px;
}
.product a {
  overflow: hidden;
}
.product img {
  width: 100%;
  max-height: 27rem;
}
.product img:hover {
  transform:scale(1.5);
  transition: ease 1s;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div ,
.product-price button {
  text-align: left;
  flex: 1;
}
.button {
  padding: 1rem;
  border: .1rem #c0c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  border: .1rem #808080 solid;
}
.button.primary {
  background-color: #ffc000;
}
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
/* index css */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style: none
}
.cart-items img {
  width: 5rem;
}
.cart-items li {
  display: flex;
}
.cart-items li div {
  padding: .5rem;
}
.cart-items li div:last-child {
  flex : 1 
}
.right {
  text-align: right;
}
.total {
  display: flex;
  justify-content: center;
  width: 100%;
}
.total > div,.total > button {
  flex:  1;
}
/* Checkout form */
form{
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 1rem;
  list-style: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  padding: 1rem;
  border: .1rem #c0c0c0c0 solid;
}
/* product detail */
.product-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-detail img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto ;
}
.product-details-descriptions {
  flex: 1 1;
  margin: 1rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 10000;
}